@import "variables";

.wrapper-slide-content {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid white;
    padding: 40px 0;
    border-radius: 30px;
    position: relative;
    @media (min-width: 900px) {
        flex-direction: column;
        position: none;
    }
    @media (max-width: 650px) {
        padding: 0;
    }
}

.slide {
    width: 100%;
    overflow-x: hidden;
}
.slide-content {
    display: flex;
    align-items: row;
    transform: translateX(0rem);
    padding: 50px 0;
    @media (max-width: 650px) {
        padding: 0;
    }

}

.review {
    width: 100%;
    flex-shrink: 0;
    padding: 0 200px;
    @media (max-width: 650px) {
        padding: 0 10px;
    }
   #testimonial-content {
    height: 150px;
    display: flex;
    align-items: center;
    @media (max-width: 900px) {
        height: 400px;
    }
   }
   #testimonial-name {
    font-size: large;
    font-style: italic;
   }
  
}

.slide-content-circles {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(#{$baseline}*1);
    transform: scale(1);
}
.slide-content-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

#preview-button, #next-button {
    position: absolute;
    background: none;
    border: none;
    padding: 40px;
    @media (max-width: 650px) {
        bottom: 80px;
        transform: scale(0.5);
    }
}

#preview-button {
    left: 0;
    z-index: 2;
}
#next-button {
    right: 0;
    z-index: 2;
}

.cite-sign {
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    left: 175px;
    top: 10px;
    font-size: 220px;
    color: skyblue;
}


    
.cite-sign-one,
.cite-sign-two {
    transform: rotate(180grad);
}

.cite-sign-two {
    left: 210px;
}

.cite-sign-three,
.cite-sign-four {
    top: 55px;
}
.cite-sign-three {
    left: 720px;
}
.cite-sign-four {
    left: 755px;
}
@media (max-width: 900px) {
    .cite-sign {
        top: 50px
    }
    .cite-sign-three,
    .cite-sign-four {
    top: 250px;
    }

    .cite-sign-three {
        left: 450px;
    }
    .cite-sign-four {
        left: 485px;
    }
}

@media (max-width: 650px) {
    #testimonial-content {
        height: 160px;
    }
    #testimonial-name {
        display: flex;
        justify-content: center;
        align-items: end;
        height: 150px;
    }
    .cite-sign {
        top: 10px
    }
    .cite-sign-three,
    .cite-sign-four {
    top: 250px;
    }
    .cite-sign-three,
    .cite-sign-four {
    top: 170px;
    }

    .cite-sign-three {
        left: 160px;
    }
    .cite-sign-four {
        left: 195px;
    }
}

@media (max-width: 450px) {
    .cite-sign {
        top: -8px;
        left: 100px;
    }
    .cite-sign-two {
        left: 135px;
    }
    .cite-sign-three,
    .cite-sign-four {
    top: 160px;
    }

    .cite-sign-three {
        left: 100px;
    }
    .cite-sign-four {
        left: 135px;
    }


}
